@import '../../../static/lib-dev/sass/base/settings_colors';
@import '../../../static/lib-dev/sass/mixins/tools_x-rem';

.checkout-back {
  padding: 0 0 0 15px;
  margin-bottom: -15px;
  a {
    color: $color-grey-darkest;
    color: $color-grey-darkest;
    @include x-rem(font-size, 14px);
    &:visited, &:active, &:hover{
      color: $color-grey-darkest;
    }
  }
}
.checkout-icon-back {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid $color-grey-darkest;
  display: inline-block;
  margin-right: 5px;
}