@import '../../../static/lib-dev/sass/base/settings_fonts';
@import '../../../static/lib-dev/sass/base/settings_colors';

.checkout-progress-step {
  align-items: center;
  border: solid 2px $color-grey-darkest;
  border-radius: 50%;
  color: white;
  display: flex;
  font-family: $font-stack-UnitOT-regular;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  height: 30px;
  justify-content: center;

  letter-spacing: normal;
  line-height: 1.71;
  width: 30px;

  .checkout-progress-current {
    background-color: $color-grey-darkest;
  }

  .checkout-progress-uncompleted {
    color: $color-grey-darkest;
    opacity: 0.35;
  }
}

.checkout-progress-current {
  &.checkout-progress-step {
    background-color: $color-grey-darkest;
    color: white;
  }

  .checkout-progress-content {
    color: white;
  }
}

.checkout-progress-content {
  color: $color-grey-darkest;
  text-decoration: none;
}

.checkout-progress-uncompleted {
  color: $color-grey-darkest;
  opacity: 0.35;
}

.checkout-progress-bar-step-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* Fix to prevent IE overlap of line in bubble */
  .checkout-progress-bar-step-container {
    margin: 0 15px;
  }
}

.checkout-progress-bar-step-text {
  color: $color-grey-darkest;
  font-family: $font-stack-UnitOT-regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;

  &.checkout-progress-current {
    opacity: 1;
  }

  &.checkout-progress-uncompleted {
    opacity: 0.35;
  }

  @media screen and (max-width: 580px) {
    &.checkout-progress-uncompleted {
      opacity: 0;
    }

    &.checkout-progress-completed {
      opacity: 0;
    }
  }
}

.checkout-progress-bar-checkmark {
  height: 11px;
  width: 16px;
}
