/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'United', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'United', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.page-title {
  margin: 0;
}

.content-wrapper {

}

.buttons-wrapper {

}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {

  box-shadow: 0 2px 4px rgba(0,0,0,.08);
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.logo-container {
  background: #cc071e;
  height: 61px;
  padding: 10px;
  width: 175px;
}

.rewelogo {
  height: 70px;
  width: inherit;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* APP */
.App {
  margin: auto;
  max-width: 1024px;
}

/* FOOTER */
.footer {
  font-size: 18px;
}

.footer-content-box {
  border-top: 1px solid #dedede;
  padding: 20px;
  text-align: center;
}

.footer-title {
  font-weight: 700;
    margin: 0;
}
.footer-subtitle {
    margin: 0;
    font-weight: normal;
}

.footer-awards-title {
  font-size: 16px;
  margin: 0;
  font-weight: 800;
}

.footer-price-explanation {
  color: #9b9b9b;
  margin: auto;
  max-width: 450px;
  font-size: 14px;
}

.checkout-footer-nav-container {
  background-color: #f5f4f3;
  box-sizing: border-box;
  flex: 1;
  font-family: 'United', sans-serif;
  height: 48px;
  line-height: 38px;
  padding: 0 12px;
}

.checkout-footer-nav-inner {
  align-self: flex-end;
  margin: auto;
  width: 336px;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.checkout-footer-nav-item {
  color: #4a4a4a;
  font-size: 14px;
  text-decoration: none;
}

/* BUTTONS */
.buy-button {

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  border: none;
  background: #6fbd14;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'United', sans-serif;
  font-size: 20px;
  padding: auto;
  width: 350px;
}

.ether {
  border: 2px solid #9b9b9b;
  color: #fff;
  background-image: linear-gradient(to right, #fff 15%, #9b9b9b 21%);
}

.ether-button-text {
  margin: auto;
}

.ether-logo {
  width: 40px;
  height: 40px;
}